/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: white;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #131319;
  text-decoration: none;
  width: 100%;
  height: 80px;
}
.nav .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 40%;
  order: 1;
}
@media (max-width: 500px) {
  .nav .links {
    width: 70%;
    font-size: 1.2rem;
  }
}
.nav .links a {
  width: 100%;
  font-size: 1.3rem;
  padding: 0% 2%;
}
@media (max-width: 500px) {
  .nav .links a {
    font-size: 1.2rem;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Permanent Marker';
  background-color: #ECE6DC;
}
.container {
  max-width: 1200px;
  margin: 0% auto;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
header .main-content-top {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
header .main-content-top .homepage-image {
  width: 100%;
}
header .main-content-top .homepage-logo {
  position: relative;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 450px;
}
@media (max-width: 500px) {
  header .main-content-top .homepage-logo {
    width: 50%;
    bottom: 300px;
  }
}
.main-content-middle h1 {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .main-content-middle h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
}
.main-content-text {
  display: flex;
  height: 250px;
  text-align: center;
  margin: 0% 10%;
}
.main-content-text p {
  font-size: 1.4rem;
  line-height: 190%;
}
.main-content-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  margin: 0% 10%;
}
@media (max-width: 500px) {
  .main-content-img {
    display: flex;
    flex-direction: column;
    height: 600px;
    text-align: center;
    margin: 0% 5%;
  }
}
.main-content-img h2 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .main-content-img h2 {
    font-size: 2rem;
  }
}
.main-content-img p {
  font-size: 1.4rem;
  line-height: 190%;
}
.main-content-img .phone-image {
  width: 50%;
}
@media (max-width: 500px) {
  .main-content-img .phone-image {
    margin: 10% 0%;
  }
}
.main-content-img .text {
  max-width: 500px;
  margin: 0% 5%;
}
.main-content-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
}
@media (max-width: 500px) {
  .main-content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10%;
  }
}
.main-content-bottom p {
  font-size: 1.3rem;
}
.main-content-bottom .person-a {
  text-align: center;
}
.main-content-bottom .person-b {
  text-align: center;
}
.main-content-bottom .person-c {
  text-align: center;
}
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
}
.sign-up .sign-up-text h1 {
  font-size: 3.5rem;
  margin: 3% 0%;
  color: black;
}
.sign-up .sign-up-text h4 {
  font-size: 2rem;
  margin: 3% 0%;
  color: black;
}
.sign-up .sign-up {
  font-size: 3rem;
  padding: 16px 30px;
  text-align: center;
  font-weight: bold;
  width: 300px;
  height: 90px;
  color: black;
  background: #ECE6DC;
  box-sizing: border-box;
  box-shadow: rgba(255, 248, 237, 0.85);
  border-radius: 20px;
  margin-top: 5%;
  cursor: pointer;
}
.sign-up .sign-up:hover {
  font-size: 3rem;
  padding: 16px 30px;
  text-align: center;
  font-weight: bold;
  width: 300px;
  height: 90px;
  color: #ffffff;
  background: #543603;
  box-sizing: border-box;
  box-shadow: rgba(255, 248, 237, 0.85);
  border-radius: 20px;
  margin-top: 5%;
  cursor: pointer;
}
footer {
  margin-top: 5%;
}
@media (max-width: 500px) {
  footer {
    margin-top: 10%;
  }
}
footer p {
  font-size: 1rem;
  line-height: 190%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Permanent Marker';
  background-color: #ECE6DC;
}
header {
  width: 60%;
  margin: 0% auto;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
header .hero-image-container {
  width: 40%;
  margin: 0% auto;
}
@media (max-width: 500px) {
  header .hero-image-container {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header .header-txt-container {
    width: 85%;
    margin: 0% auto;
  }
}
header .header-txt-container h1 {
  font-size: 3rem;
  text-align: center;
  margin: 3% 0%;
}
header .header-txt-container p {
  font-size: 2rem;
  text-align: center;
}
.people-container {
  width: 70%;
  margin: 3% auto 0%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .people-container {
    margin: 8% auto 0%;
  }
}
.people-container .card {
  width: 25%;
  margin-bottom: 7%;
  font-size: 1.6rem;
  text-align: center;
  border: 0.1rem solid white;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.people-container .card .image-container {
  padding: 5%;
}
.people-container .card .image-container img {
  width: 70%;
}
.people-container .card .name {
  margin-bottom: 5%;
}
.people-container .card .logo-container {
  display: flex;
  justify-content: space-between;
}
.people-container .card .logo-container .logo {
  margin: 5%;
}
footer {
  margin-top: 5%;
}
@media (max-width: 500px) {
  footer {
    margin-top: 10%;
  }
}
footer p {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 3%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Permanent Marker';
  background-color: #ECE6DC;
}
header {
  width: 50%;
  margin: 0% auto;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
.contact-logo {
  position: relative;
  z-index: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 450px;
}
@media (max-width: 500px) {
  .contact-logo {
    width: 50%;
    bottom: 300px;
  }
}
.form-container {
  width: 60%;
  margin: 3% auto 0%;
}
@media (max-width: 500px) {
  .form-container {
    width: 80%;
    margin: 8% auto 0%;
  }
}
.form-container .fieldset {
  border: 0.2rem solid grey;
}
.form-container .fieldset .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container .fieldset .input-container .text-input {
  width: 80%;
  margin: 1% 0%;
  padding: 1% 0% 1% 1%;
  border-radius: 1.8rem;
  background-color: #ECE6DC;
  box-shadow: 0rem 0rem 0.7rem 0.1rem grey;
}
@media (max-width: 500px) {
  .form-container .fieldset .input-container .text-input {
    margin: 3% 0%;
  }
}
.form-container .fieldset .input-container .text-input::placeholder {
  font-family: 'Permanent Marker';
  font-size: 1.6rem;
  color: grey;
}
.form-container .fieldset .input-container .message {
  height: 15rem;
}
.form-container .fieldset .input-container .submit-btn {
  width: 15%;
  background-color: #ECE6DC;
  box-shadow: 0rem 0rem 0.7rem 0.1rem grey;
  border-radius: 1.8rem;
  position: relative;
  top: 1.2rem;
  font-family: 'Permanent Marker';
}
@media (max-width: 500px) {
  .form-container .fieldset .input-container .submit-btn {
    width: 20%;
  }
}
.form-container .fieldset .title {
  font-size: 2.2rem;
  text-align: center;
  padding: 0% 2%;
  border-top: 0.2rem solid grey;
  border-radius: 1.5rem;
  font-size: 2rem;
}
footer {
  margin-top: 5%;
}
@media (max-width: 500px) {
  footer {
    margin-top: 10%;
  }
}
footer p {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Permanent Marker';
  background-color: #ECE6DC;
}
header {
  width: 100%;
  margin: 0% auto;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
h1 {
  font-size: 3rem;
}
.sign-up-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
  color: black;
}
.sign-up-btn .sign-in {
  color: white;
  font-size: 3rem;
  padding: 16px 30px;
  text-align: center;
  font-weight: bold;
  width: 300px;
  height: 90px;
  color: black;
  background: #ECE6DC;
  box-sizing: border-box;
  box-shadow: rgba(255, 248, 237, 0.85);
  border-radius: 20px;
  margin-top: 5%;
  cursor: pointer;
}
.sign-up-btn .sign-in:hover {
  font-size: 3rem;
  padding: 16px 30px;
  text-align: center;
  font-weight: bold;
  width: 300px;
  height: 90px;
  color: #ffffff;
  background: #553b0c;
  box-sizing: border-box;
  box-shadow: rgba(255, 248, 237, 0.85);
  border-radius: 20px;
  margin-top: 5%;
  cursor: pointer;
}
.sign-up-btn .sign-up {
  color: white;
  font-size: 3rem;
  padding: 16px 30px;
  text-align: center;
  font-weight: bold;
  width: 300px;
  height: 90px;
  color: black;
  background: #ECE6DC;
  box-sizing: border-box;
  box-shadow: rgba(255, 248, 237, 0.85);
  border-radius: 20px;
  margin-top: 5%;
  cursor: pointer;
}
.sign-up-btn .sign-up:hover {
  font-size: 3rem;
  padding: 16px 30px;
  text-align: center;
  font-weight: bold;
  width: 300px;
  height: 90px;
  color: #ffffff;
  background: #553b0c;
  box-sizing: border-box;
  box-shadow: rgba(255, 248, 237, 0.85);
  border-radius: 20px;
  margin-top: 5%;
  cursor: pointer;
}
footer {
  margin-top: 5%;
}
@media (max-width: 500px) {
  footer {
    margin-top: 10%;
  }
}
footer p {
  font-size: 1rem;
  line-height: 190%;
}
